* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', Courier, monospace;
}

html, body {
    height: 100%;
    background-color: black;
}

.sidebar {
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #BA1F33;
}

.sidebar-wrapper {
    padding-bottom: 200px
}

.sidebar-logo img {
    max-width: 250px;
    width: 100%;
}

.sidebar-menu {
    margin: 20px 0;
    color: azure;
}

.sidebar-menu a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar-menu a.sidebar-menu-selected {
    color: white;
    background-color: #000;
    border-radius: 5px;
}

.sidebar-menu .fas {
    margin: 0px 20px
}

.sidebar-menu-item {
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar-menu p.sidebar-menu-title {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.sidebar-menu-item-component {
    display: inline-block;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;   
    color: black;
    font-weight: bolder;
    background-color: azure;
}

.sidebar-menu-item-component-heart {
    display: inline-block;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    line-height: 35px;  
    text-align: center;
    background-color: azure;
}

.sidebar-menu-item span {
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
    color: black;
}

.header {
    display: grid;
    align-items: center;
    grid-area: main-view;
    height: 64px;
    min-width: 0;
    pointer-events: none;
    z-index: 2;
    background-color: #BA1F33;
}

.header a {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    margin-left: 16px;
    margin-right: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 20px;
    text-decoration: none;
    color: black;
}

.header-wrapper {
    margin-right: 20px;
    align-items: center;
    display: flex;
    justify-content: flex-end
}

.header-wrapper-login {
    border-left: 3px solid black;
}

.header-button {
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    text-align: center;
}

.sidebar-playlists {
    padding: 20px 0;
    border-top: 1px solid rgb(40, 40, 40);
}

.sidebar-playlists a {
    text-decoration: none;
    margin: 10px 0;
    display: block;
    color: black;
}

.sidebar-playlists a:hover {
    color: white;
}

/* main */
.main {
    width: calc(100% - 250px);
    background-color: rgb(30,30,30);
    height: 100%;
    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}

.main img {
    width: 200h; 
    height: 200px;
}

.main-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-wrapper {
    padding-bottom: 200px;
}

.main-row-title {
    width: 100%;
}

.main-row-title h2 {
    color: white;
}

.main-col {
    cursor: pointer;
    width: 15%;
    margin-right: 1.5%;
    margin-top: 20px;

    background-color: #282828;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
}